{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "printWidth": 80,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",
  "eslintIntegration": true,
  "editorconfig": true,
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx"
      ],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ],
  "ignore": [
    "**/node_modules/**",
    "**/dist/**",
    "**/build/**"
  ]
}